 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: darkcyan;
  height: 100%;
} 

.welcome {
  text-align: center;
  text-decoration: wavy;
  font-weight: bold;
  padding-top: 40px;
  font-size: 40px;
  color: navy;
}

.todolist { 
  padding-top: 30px;
  text-align: center;
}

#userInput {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}

#sbmt_btn {
  margin-top: 10px;
  width: 80px;
}

li {
  width: 60%;
  padding: 10px;  
  margin: auto;
  margin-top: 10px;
  text-align: left;
  color: cyan;
  justify-content: left;
  height: fit-content;
  background-color: navy;
  border-radius: 10px;
}

#box {
  float: left;
  margin-right: 5px;
}

#deleteButton {
  float: right;
  height:max-content; 
}