 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: darkcyan;
  height: 100%;
} 

.welcome {
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
  font-size: 40px;
  color: navy;
}

.todoList { 
  padding-top: 30px;
  text-align: center;
}

#userInput {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}

#submitButton {
  margin-top: 10px;
  width: 80px;
}

ul {
  text-align: center;
  list-style: none;
}
li {
  width: 60%;
  padding: 10px 30px 10px 30px;

  margin: auto;
  margin-top: 10px;
  text-align: left;
  color: cyan;
  background-color: navy;
  border-radius: 10px;
  display: inline-block;
  overflow-wrap: break-word;
}

#box {
  float: left;
  margin-right: 5px;
  margin-left: -20px;
  vertical-align: middle;
  display: table-cell;
}

#deleteButton {
  float: inline-end;
  vertical-align: middle;
  margin-right: -20px;
}